html {
	box-sizing: border-box;
	background: #ffffff;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

.container {
	margin: 0;
}

footer {
	margin-top: calc(10vh - 7rem);
}

#panel {
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	display: flex;
}

